html,body
{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-family: 'Arial';line-height: normal;
     background-color:#f3f3f3;
}
.wrapper 
{
    min-width: 1000px;
    max-width: 100%;
    min-width: 100%;
    position: relative;
   

}
header
{
    width: 100%;
    height: 160px;
    position: absolute;
    margin-bottom: 11px;
}
.in{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.lcom
{

    float: right;
    margin-right: 166px;
    margin-top: 33px;
}
.lcom a
{
    text-decoration: underline;
    color: #798088;
}
.logo
{
    margin-top: 49px;
    margin-left: 97px;
    margin-right: 39px;
    
}
nav {
    width: 769px;
    height: 98px;
    float: right;
    margin-top: -43px;
    margin-right: 111px;
}
nav>ul li  a
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to top, #77ac2a , #afe164);
    color: #f8fff4;
    margin-right: -5px;
    display: inline-block;
    
}
.level1 a:hover
{
    background: linear-gradient(to bottom, #717277,#babec7);
  
}
nav:hover .hovmen

{
display: block;    
} 
.tel   
{
    color: #93969b;
    margin-left: 157px;
    margin-top: 33px;
    float: left;

}
.tel a
{
    font-size: 20px;
    color: #84bc33;
    font-size: bold;
    
}
.tel span
{
    font-size: 13px;
    color: #84bc33;
    font-weight: bold;
}
.hovmen
{
    padding: 14px;
    background-color: #ececec;
    width: 729px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    display: none;
    
    
}
.hovmen li a
{
    font-size: 10px;
    padding-right: 20px;
    text-decoration: underline;
    
}
main
{
    position: relative;
    top: 200px;
}
.right_column
{
    margin-left: 104px;
    margin-top: 40px;
    width: 243px;
    display: inline-block;
}
.right_column p
{
    color: #93969b;
    display: inline-block;
}
.right_column div
{
    margin-left: 92px;
    margin-top: -15px;
    margin-bottom: 25px;
}
.right_column div p
{
padding-left: 3px;
    padding-top: 16px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom,#d8d8d8,#f3f3f3);
    text-decoration: underline;
    width: 156px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.standart p
{
    color:#95c27f; 
}
.premium p
{
    color:#58575c; 
}
.vip p
{
    color: #8a7728;
}
.mainphoto
{
    float: right;
    margin-right: 148px;
    margin-bottom: 35px;
    
}
.mainphoto p
{
    color: #74757a;
    margin-top: 11px;
}
.main_footer
{
    float: right;
    margin-top: -120px;
    margin-right: 124px;
   
}

.main_footer .smallblock
{
    width: 201px;
    height: 108px;
    background: linear-gradient(to top, #e4e4e4,#fff);
    display: inline-block;
    margin-right: 11px;
    
}

 .smallblock img
{
    margin-top: 12px;
    margin-left: 13px;
    margin-right: 13px;float: left;
}
i
{
    font-size: 9px;
    font-weight: bold;
    display: block;
    margin-top: 12px;
}
.smallblock a
{
    text-decoration: underline;
    color: #aed78b;
    display: block;
    margin-top: 10px;
    
}
.copy
{
    margin-top: 50px;
    color: #aaabb0;
    margin-left: 495px;
}